<form>
  <div class="form-group">
      <label for="api-name">Name</label>
      <input type="text" class="form-control" id="api-name" placeholder="My Camera - 1">
  </div>
  <div class="form-group">
      <label for="api-group">Group</label>
      <select class="form-control" id="api-group">
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="form-group">
      <label for="api-remarks">Remarks</label>
      <textarea class="form-control" id="api-remarks" rows="2"></textarea>
  </div>
  </form>