{% extends "_master.html" %}

{% block main %}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">

                  <div class="d-flex align-items-center">
                    <strong><h6>IoT Devices</h6></strong>
                    <div class="ms-auto"> 
                        <button class="btn btn-info btn-add-api-group">Add Group</button>
                        <button class="btn btn-primary btn-add-device">Add IoT Device</button> 
                    </div>
                  </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2" id="devices_index">
                <div class="row">
                    {% for device in devices %}
                        {% include 'devices/card.html' %}
                    {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}